<section id="main" class="col-md-12">
    <div id="navbar">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                        <a class="navbar-brand" href="#/" style="padding-left:0px;"><img src="assets/images/pantalabs-logo-shadowned.png" /></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-repeat="nav in Home.nav"><a href="{{nav.href}}">{{nav.title}}</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>


    <div class="container">
        <h1 class="font-star"><span class="color-one font-joe">CRIE.</span> Sua ideia e o seu negócio feito por um time que entende ;-)</h1>
        <br>
        <div class="col-md-offset-2">
            <video height="400px" class="center wow bounceIn" controls>
  <source src="assets/media/Panta_labs_Promo_480p.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video></div>

    </div>
    <div class="col-md-12 waves">
    </div>
    <div class="clearfix"></div>
</section>
<section class="col-md-12 p-top-m">
    <div class="container">
        <div class="center wow bounceIn">
            <img src="assets/images/heart.png" width="90px" class="center" />
        </div>
        <hr>
        <h1 class="font-joe center color-two">Tão simples quanto pedir uma Pizza <span class="font-star"><3</span></h1>
        <br><br>
        <div class="col-md-6 divisor-right">
            <div class="col-md-12 ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus, felis ut vehicula fringilla, lorem orci aliquam neque, eget luctus arcu erat consectetur turpis. Suspendisse felis mauris, sollicitudin a laoreet at, cursus placerat odio. Ut hendrerit
                quam volutpat lacus tristique consectetur sit amet sit amet est. Praesent consequat est eu enim ultrices egestas. Cras vel lobortis augue, id convallis mauris. Proin consequat magna vel orci euismod lobortis eu pellentesque libero.
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <img src="assets/images/pizza.jpg" class="center d-block mobile-w-all" width="270px" />
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<section class="col-md-12 no-padding ">
  <div class="m-top-m no-mobile-m">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.3440463136194!2d-45.89726058502903!3d-23.19412918486651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a0d6f5eb749%3A0x4ab648d4a59df29b!2sAv.+S%C3%A3o+Jo%C3%A3o%2C+191+-+Jardim+Esplanada%2C+S%C3%A3o+Jos%C3%A9+dos+Campos+-+SP%2C+12242-840!5e0!3m2!1spt-BR!2sbr!4v1479183181796" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
</section>

<section class="col-md-12 p-top-m">

    <div class=" container font-joe">
        <div class="row">
            <div class="col-md-3 col-xs-6 center wow bounceIn" data-wow-delay="0.1s">
                <img src="assets/images/web.png" class="icon-main" />
                <h4 class="m-top-s">Seu site no ar da noite para o dia</h4>

            </div>
            <div class="col-md-3 col-xs-6 center wow bounceIn" data-wow-delay="0.2s">
                <img src="assets/images/size.png" class="icon-main" />
                <h4 class="m-top-s">O sistema sob medida para seu empreendimento</h4>

            </div>
            <div class="col-md-3 col-xs-6 center wow bounceIn" data-wow-delay="0.3s">
                <img src="assets/images/mobile.png" class="icon-main" />
                <h4 class="m-top-s">Nada mais fácil do que seu próprio App</h4>

            </div>
            <div class="col-md-3 col-xs-6 center wow bounceIn" data-wow-delay="0.4s">
                <img src="assets/images/ecommerce.png" class="icon-main" />
                <h4 class="m-top-s">Transforme sua lojinha em um e-commerce</h4>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<section class="col-md-12 p-top-m">

    <div class=" container font-joe">
        <div class="row">
            <div class="col-md-3 col-sm-12 center">
                <div class="col-md-12 portifolio-card">
                    <div class="front-image">
                    </div>
                    <div class="front-content">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 center">
                <div class="col-md-12 portifolio-card">
                    <div class="front-image">
                    </div>
                    <div class="front-content">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 center">
                <div class="col-md-12 portifolio-card">
                    <div class="front-image">
                    </div>
                    <div class="front-content">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 center">
                <div class="col-md-12 portifolio-card">
                    <div class="front-image">
                    </div>
                    <div class="front-content">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <div class="clearfix"></div>
</section>
<div class="clearfix"></div>
