<section id="main" class="col-md-12">
    <div class="col-md-12 waves">
    </div>
</section>
<section class="col-md-12 p-top-m">

    <div class=" container font-joe">
        <div class="row">
            <div class="col-md-3 col-xs-6 center">
                <img src="assets/images/web.png" class="icon-main" />
                <h4 class="m-top-s">Seu site no ar da noite para o dia</h4>

            </div>
            <div class="col-md-3 col-xs-6 center">
                <img src="assets/images/size.png" class="icon-main" />
                <h4 class="m-top-s">O sistema sob medida para seu empreendimento</h4>

            </div>
            <div class="col-md-3 col-xs-6 center">
                <img src="assets/images/mobile.png" class="icon-main" />
                <h4 class="m-top-s">Nada mais fácil do que seu próprio App</h4>

            </div>
            <div class="col-md-3 col-xs-6 center">
                <img src="assets/images/ecommerce.png" class="icon-main" />
                <h4 class="m-top-s">Transforme sua lojinha em um e-commerce</h4>

            </div>
        </div>
    </div>
</section>
