<section id="main" class="col-md-12">
    <div class="container">
      <div class="row"style="margin-top:50px;">
        <div class="col-md-4 col-md-offset-4 ">
          <img src="assets/images/main-image.png" class="center" width="100%" />
      </div>
    </div>
    <div class="row" style="margin-top:50px;">
      <div class="col-md-8 col-md-offset-2">
        <p class="center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tellus enim. Donec tincidunt at arcu vel vehicula. Mauris mattis nulla eu justo accumsan, quis malesuada erat volutpat. Nam eu luctus turpis. Praesent pellentesque rhoncus purus, vel dictum
            lacus pulvinar id. Quisque feugiat dictum mi. In lacinia pharetra diam, sed aliquam augue convallis sit amet. Pellentesque at aug
        </p>
    </div>
</div>
    <div class="col-md-12 waves">
    </div>
  </div>
</section>
<section class="col-md-12 p-top-m">

    <div class=" container font-joe">
        <div class="row">
            <div class="col-md-3 col-xs-6 center">
                <img src="assets/images/web.png" class="icon-main" />
                <h4 class="m-top-s">Seu site no ar da noite para o dia</h4>

            </div>
            <div class="col-md-3 col-xs-6 center">
                <img src="assets/images/size.png" class="icon-main" />
                <h4 class="m-top-s">O sistema sob medida para seu empreendimento</h4>

            </div>
            <div class="col-md-3 col-xs-6 center">
                <img src="assets/images/mobile.png" class="icon-main" />
                <h4 class="m-top-s">Nada mais fácil do que seu próprio App</h4>

            </div>
            <div class="col-md-3 col-xs-6 center">
                <img src="assets/images/ecommerce.png" class="icon-main" />
                <h4 class="m-top-s">Transforme sua lojinha em um e-commerce</h4>

            </div>
        </div>
    </div>
</section>
