@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash:700|Codystar:300');

body {
  background-color: #344074;
}

section {
  position: relative;
  background-color: white;
}

footer {
  background-color: #FF9554;
  height: 300px;
}

.color-one {
  color: #FF9554;
}

.d-block {
  display: block;
}

.portifolio-card {
  background-color: #CCC;
  color: black;
  min-height: 300px;
  cursor: pointer;
  border-radius: 3px;
  transition:linear all 0.2s;
}

.portifolio-card:hover {
  box-shadow: -10px 8px 27px 1px rgba(0, 0, 0, 0.29);
  transition:linear all 0.2s;
}

.navbar-brand img {
  width: 168px;
}
.nav.navbar-right {
  margin-top: 12px;
  color:white;
}
.navbar-default .navbar-nav>li>a {
  color:white;
}
.navbar-default .navbar-nav>li>a:hover {
  color:#CCC;
}
.navbar-default {
  background:none;
  border:none;
}
.font-joe {
  font-family: 'Josefin Sans', sans-serif;
}

.font-sha {
  font-family: 'Shadows Into Light', cursive;
}

.font-cherry {
  font-family: 'Cherry Swash', cursive;
}

.font-star {
  font-family: 'Codystar', cursive;
}

#main {
  background-image: url('../images/pattern.png');
  background-repeat: repeat;
  /*background-position: center center;*/
  height: 707px;
  background-color: #344074;
  position: relative;
  color: white;
}

.waves {
  background-image: url('../images/white-wave-lg.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  background-position: bottom;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.m-top-s {
  margin-top:20px;
}

.m-top-m {
  margin-top:40px;
}

.p-top-m {
  padding-top:40px;
}
