@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash:700|Codystar:300');
body, .mobile-pattern {
    background-color: #674D90;
}

a {
  cursor: pointer;
}

section {
    position: relative;
    background-color: white;
}

footer {
    background-color: #FF9554;
    height: 300px;
}

#navbar {
    background-color: transparent;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 0px 0px 0px black;
    transition: linear all 0.2s;
}
#navbar2 {
  display: none;
  background-color: transparent;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 0px 0px black;
  transition: linear all 0.2s;
}

.contact-card {
    background: white;
    padding: 12px;
    border-radius: 3px;
}

.p-relative {
position: relative;
}

.prevent-overlay {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.navbar-fixed {
    background-color: #674D90 !important;
    display: block !important;
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100% !important;
    z-index: 10 !important;
    height: 68px;
    box-shadow: 1px 1px 59px -17px black !important;
    transition: linear all 0.2s !important;
}


/*.navbar-fixed .navbar-default .navbar-nav>li>a {
  color: #384376;
}
*/

.t-a-center {
  text-align: center;
}

.no-padding {
    padding: 0px !important;
}

.color-one {
    color: #FF9554;
}

.color-two {
    color: #674D90;
}

.color-base {
  color:white;
}

.divisor-right {
    border-right: 1px solid #eee;
}

.d-block {
    display: block;
}

.portifolio-card {
    background-color: #CCC;
    color: black;
    min-height: 300px;
    cursor: pointer;
    border-radius: 3px;
    transition: linear all 0.2s;
}

.portifolio-card:hover {
    box-shadow: -10px 8px 27px 1px rgba(0, 0, 0, 0.29);
    transition: linear all 0.2s;
}

.navbar-brand img {
    width: 168px;
}

.nav.navbar-right {
    margin-top: 8px;
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #CCC;
}

.navbar-default {
    background: none;
    border: none;
}

.font-joe {
    font-family: 'Josefin Sans', sans-serif;
}

.font-sha {
    font-family: 'Shadows Into Light', cursive;
}

.font-cherry {
    font-family: 'Cherry Swash', cursive;
}

.font-star {
    font-family: 'Codystar', cursive;
}

.mobile-pattern {
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
}

#main {
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
    /*background-position: center center;*/
    height: 707px;
    background-color: #674D90;
    position: relative;
    color: white;
}

.waves {
    background-image: url('../images/white-wave-lg.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100px;
    position: absolute;
    bottom: -2px;
    left: 0px;
    background-position: bottom;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.m-top-s {
    margin-top: 20px;
}

.m-top-m {
    margin-top: 40px;
}

.p-top-m {
    padding-top: 40px;
}

footer {
  min-height: 350px;
  background-color: #F59058;
}

@media screen and (min-width:800px) {
  .navbar-brand {
    margin-top: -6px;
  }
}

@media screen and (max-width:800px) {
    .navbar-toggle.collapsed, .navbar-toggle {
        background: white;
        margin-right: 0px;
        margin-top: 22px;
    }
    .navbar-toggle {
        background: #CCC;
    }
    div#bs-example-navbar-collapse-1 {
        background: white;
        margin-top: 14px;
    }
    div#bs-example-navbar-collapse-1 * {
        color: #384376;
    }
    .divisor-right {
        border: none;
    }
    video {
        width: 100%;
        background: white;
        height: auto;
    }
    #main {
        height: auto;
        padding-bottom: 50px;
    }
    .mobile-w-all {
        width: 100%;
    }
    .no-mobile-m {
        margin: 0px;
    }
    .s-hide {
      display: none;
    }
    .s-no-padding {
      padding:0px;
    }
}
